* {
    box-sizing: border-box !important;
  }
  
  .header {
    display: flex;
    width: 100%;
    background-color: #1c1c1c;
    position: absolute;
    padding: 20px 0;
  }
  
  .header__nav {
    margin-left: auto;
  }
  
  .nav__link {
    text-decoration: none;
    color: #fff;
    font-size: 21px;
    font-family: Montserrat, sans-serif;
    letter-spacing: 2px;
    margin-right: 50px;
    display:inline;
    cursor: pointer;
  }
  
  .nav__link--active {
    text-decoration: underline !important;
  }
  
  .main {
    
    background-image: url("../images/bg.png");
    background-size: cover;
    padding: 0 110px;
    display:flex;
    justify-content: center;
    align-items: center;
    column-gap: 110px;
  }
  
  .main__heading {
    font-family: Montserrat, sans-serif;
    color: #ffffff;
    font-weight: 700;
    font-size: 62px;
    letter-spacing: 2px;
    margin-bottom: 65px;

    overflow-x:hidden;
  }
  
  .main__text-block {
    width: 100%;
    text-align: center;
    min-width: 300px;
    display: block;
  }
  
  .main__text {
    letter-spacing: 2px;
    font-family: Montserrat, sans-serif;
    color: #fff;
    font-size: 34px;
  
    overflow-x:hidden;
  }
  
  .main__img {
    
    height: auto;
    flex-grow: 0;
    flex-shrink: 0;
  }
  .main__button{
    text-align: center;
    text-decoration: none;
    width: 200px;
    height: 38px;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    padding: 8px 10px;
    }

  /*Адаптив*/
  @media screen and (min-width:320px) {
    .main__text-block {
      display: block;
      width: 100%;
    }
    .main__text {
      font-size: 15px;
    }
    .main__heading {
      font-size: 30px;
    }
    .main__img {
      width: 60%;
      display: block;
    }
  }
  @media screen and (min-width:480px) {
    .main__text-block {
      display: block;
      width: 100%;
    }
    .main__text {
      font-size: 20px;
    }
    .main__img {
      width: 50%;
      display: block;
    }
  }
  @media screen and (min-width:768) {
    .main__text-block {
      width: 420px;
    }
    .main__text {
      font-size: 25px;
    }
    .main__img {
      width: 50%
    }
  }
  @media screen and (min-width:992px) {
    .main__text {
      font-size: 30px;
    }
    .main__img {
      width: 50%;
      
    }
  }
  @media screen and (min-width:1200px) {
    .main {
      width: 100vw;
      height: 100vh;
    }
    .main__text {
      font-size: 30px;
    }
    .main__heading {
      font-size: 50px;
    }
    .main__img {
      width: 600px;
      height: 600px;
    }
  }
  @media screen and (min-width:1600px) {
    .main__img {
      width: 700px;
      height: 700px;
    }
    .main__text {
      font-size: 35px;
    }
    .main__heading {
      font-size: 60px;
    }
  }
  @media screen and (min-width:2000px) {
    .main__text {
      font-size: 50px;
    }
    .main__heading {
      font-size: 80px;
    }
    .main__img {
      width: 900px;
      height: 900px;
    }
  }