* {
    box-sizing: border-box !important;
}
  
.header {
    display: flex;
    width: 100%;
    background-color: #1c1c1c;
    padding: 27px 0;
}
  
.header__nav {
    margin-left: auto;
    
}
  
.nav__link {
    text-decoration: none;
    color: #fff;
    font-size: 21px;
    font-family: Montserrat, sans-serif;
    letter-spacing: 2px;
    margin-right: 50px;
    
}
  
.nav__link--active {
    text-decoration: underline !important;
}

.os-content {
    padding-top: 50px;
}

.os-main {
    height: 100vh;
    width: 100vw;
    background-color: #1c1c1c;
    overflow-x: hidden;
}
.os-list {
    background-color: #1c1c1c;
    text-align: center
}
.os {
    display: inline-block;
    background-color: black;
    position: relative;
    margin-left: 3%;
    margin-bottom: 3%;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0 40px black;
    margin-right: 2%;
}
.os:hover {
    transform: scale(1.1);
    transition: 0.2s;
}
.os p {
    color: white;
    font-size: 30px;
}

.os img {
    width: 80%;
}


.os button {
    background-color: black;
    color: #f6f6f6;
    border-radius: 5px;
    margin: 10px;
    padding: 5px 10px;
    border-color:#f6f6f6 ;
    border-width: 1px;
    font-size: 20px;
}
.os button:hover {
    background-color: white;
    color: black;
    transition: 0.3s;
}

.ssh-btn {
    background-color: black;
    color: #f6f6f6;
    border-radius: 5px;
    margin: 10px;
    padding: 5px 10px;
    border-color:#f6f6f6 ;
    border-width: 1px;
    font-size: 20px;  
}

.os_modal h2{
    text-align: center;
    color:#fff;
    font-size: 30px;
}
.os_wind {
    
    width: 500px;
    max-width: 60%;
    float: left;
    margin-left: auto;
    margin-right: 3%;
    margin-bottom: 45px;
}
.ssh_wind {
    width: 60%;
    float: left;
}

.os_modal div.cont {
    display: inline-block;
    margin-left: 3%;
     
    color: #f6f6f6;
    font-size: 30px;
    overflow:auto;
    max-height: 50vh;   
}

.os_modal button {
    background-color: black;
    color: #f6f6f6;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 2%;
    margin-left: 45%;
    border-color:#fff ;
    border-width: 1px;
    font-size: 30px;  
}
.os_modal button:hover {
    background-color: white;
    color: black;
    transition: 0.3s;
}
.os-text {
  overflow:hidden;
  max-height: 10%;  
}

@media screen and (min-width:1800px) {
    .os {
        width: 20%;      
    }
    .os button {
        font-size: 30px;
    }
}

@media screen and (min-width:2000px) {
    .os {
        width: 30%;
    }
    .os button {
        font-size: 35px;
    }
}

