* {
    box-sizing: border-box !important;
}
  
.header {
    display: flex;
    width: 100%;
    background-color: #1c1c1c;
    padding: 27px 0;
}
  
.header__nav {
    margin-left: auto;
}
  
.nav__link {
    text-decoration: none;
    color: #fff;
    font-size: 21px;
    font-family: Montserrat, sans-serif;
    letter-spacing: 2px;
    margin-right: 50px;
}
  
.nav__link--active {
    text-decoration: underline !important;
}

.os-content {
    background-color: #1c1c1c;
    padding-top: 50px;
}

.os {
    display: inline-block;
    background-color: black;
  
   margin-left: 5%;
   margin-bottom: 3%;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0 40px black;
}
.os p {
    color: white;
    font-size: 30px;
}

.os img {
    width: 80%;
}
.os-list {
    height: 100%;
}

.os button {
    background-color: black;
    color: #f6f6f6;
    border-radius: 5px;
    margin: 10px;
    padding: 5px 10px;
    border-color:#f6f6f6 ;
    border-width: 1px;
    font-size: 20px;
}
.os button:hover {
    background-color: white;
    color: black;
    transition: 0.3s;
}

.ssh-btn {
    background-color: black;
    color: #f6f6f6;
    border-radius: 5px;
    margin: 10px;
    padding: 5px 10px;
    border-color:#f6f6f6 ;
    border-width: 1px;
    font-size: 20px;  
}

.os_modal h2{
    text-align: center;
    color:#fff;
    font-size: 30px;
}
.os_wind {
    width: 60%; 
    float:left
}
.ssh_wind {
    width: 60%;
    float: left;
    
}
.ssh_content {
    text-align: center;
}
.os_modal div.cont {
    display: inline-block;
    margin-left: 3%;
    text-align: center; 
    color: #f6f6f6;
    font-size: 30px;
    overflow:auto;
    max-height: 30vh;   
}
.os_modal div.ccc {
    
    overflow:auto; 
}
.os_modal button {
    background-color: black;
    color: #f6f6f6;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 5%;
    margin-left: 20%;
    border-color:#fff ;
    border-width: 1px;
    font-size: 30px;  
}
.os_modal button:hover {
    background-color: white;
    color: black;
    transition: 0.3s;
}
.os-text {
  overflow:hidden;
  max-height: 10%;  
}

