* {
  box-sizing: border-box !important;
}

.header {
  display: flex;
  width: 100%;
  background-color: #1c1c1c;
  padding: 27px 0;
}

.header__nav {
  margin-left: auto;
}

.nav__link {
  text-decoration: none;
  color: #fff;
  font-size: 21px;
  font-family: Montserrat, sans-serif;
  letter-spacing: 2px;
  margin-right: 50px;
}

.nav__link--active {
  text-decoration: underline !important;
}

.main {
  height: calc(100vh - 75px);
  background-image: url("./images/bg.png");
  background-size: cover;
  padding: 0 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 110px;
}

.main__heading {
  font-family: Montserrat, sans-serif;
  color: #ffffff;
  font-weight: 700;
  font-size: 62px;
  letter-spacing: 2px;
  margin-bottom: 65px;
}

.main__text-block {
  width: 60%;
  text-align: center;
}

.main__text {
  letter-spacing: 2px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 34px;
}

.main__img {
  width: 40%;
  height: auto;
  flex-grow: 0;
  flex-shrink: 0;
}