
body {
  margin:0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.login-form {
  position: absolute;
    background: rgba(226,226,226,.9);
    border: 1px solid #b4a6a6;
    padding: 10px;
    z-index: 2;
    text-align: center;
    display: none;
    width: 220px;
}
.login-form-open {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgb(23, 71, 94);
    border-radius: 7%;
    text-align: center;
    width: 350px;

}
.login-form-open h1 {
	margin: 30px 0px;
	padding: 0;
	text-align: center;
	color: #fff;
	font-size: 30px;
	text-transform: uppercase;
}
.input-form {
	margin: 15px 40px;
	text-align: center;
}

.input-form input, .input-form a{
	padding: 10px;
	width: 100%;
	color: #fff;
	font-size: 20px;
	background: none;
	outline: none;
	border: 1px solid #fff;
	box-sizing: border-box;
}
.input-form input[type="text"]:focus, .input-form input[type="password"]:focus {
	border: 1px solid #0fc3f5;
}

.input-form input[type="submit"], .input-form a{
	margin-top: 20px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	border: none;
	background: #0fc3f5;
	transition: .3s;
}

.input-form input[type="submit"]:hover, .input-form a:hover {
	background: #4442db;
}

.login-form-open a {
	display: block;
	padding: 0 0 30px;
	text-align: center;
	color: #fff;
	text-decoration: none;
	transition: .3s;
}

.login-form-open a:hover {
	color: #0fc3f5;
}

.input-form a {
  text-align:center;
  padding:10px;
}

.input-form.message {
 width: 30%;
 margin: 0 0 0 0;
 margin-left:0 ;
 display: inline-block;
}
.block-login, .block-register {
  display: inline;
}

.subscribe {
  /*background-color: white !important;*/
}
.subscribe * {
  color: white;
}